/* Retro Style */

.am{
 font-size: 10px;
}

.az{
 color: red;
 font-size: 20px;
}

table, th, td {
  border: 1px dashed white;
  border-collapse: collapse;
}

html{ 
 background-color: black;
 font-family: monospace;
 color: white;
}
