/* Background */

.background{
 background-color: black;
 font-family: monospace;
}

/* Retro Styles */

.am{
 font-family: monospace;
 color: white;
 font-size: 10;
}

.az{
 font-family: monospace;
 color: red;
 font-size: 20;
}

.table{
 border: 1px dashed white;
 height: 100%
}

th{
 height: 50px;
 text-align: left;

 td, th, tr{
  color: white;
 }
